img {
  height: 200px;
}

p {
  font-size: 25px;
  font-weight: bold;
}

h1 {
  font-family: cursive;
  text-align: center;

}

.jumbotron {
  background-color: red;
}



.footer {
  position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 180px;
    padding: 1rem;
    background-color: green;
    text-align: left;
}

a {
    color: white;
}

.toppingList {
  display: none;
  font-size: 18px;
  text-decoration: underline;
}

#priceOutput {
  margin-top: 85px;
  text-align: center;
}

.selection {
  padding: 15px;
  border: 3px solid black;
  margin: 10px;
}

.col-md-4 {
  margin-top: 65px;
  margin-left: 15px;
  background-color: white;
}

.buttonControl {
  text-align: center;
}

#button {
  background-color: green;
  margin-top: 15px;
}
